<header class="container">
  <h1>Angular Testing</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus id maiores sed totam minima quia animi quisquam ab iure laborum, ad, eaque praesentium veniam amet in deleniti perspiciatis nobis repudiandae?</p>
  <nav>
    <ul>
      <li><a routerLink="/">Home </a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet>

</router-outlet>
